<!DOCTYPE html>

<html>
  <head> 
    <title> Vocational Test </title>
    <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
  </head>
  
  <body>

    <nav class='mainNav'>
      <div height='100px'>
        <a href='/'>  
          <img id='logo' src='/Flying_Hellfish_Logo.png' href='/'/>
        </a>
        <h1 id='mainTitle'> Careers </h1>
        <div class='topNav'>
            <a href='/'>Home</a>
            <a href='/careers'>Careers</a>
            <a href='/surveys'>Surveys</a>
        </div>
      </div>
    </nav>
    
    <br>

    <form action='/careers' method='POST'>
      <label class='label' for="name"><b>Insert Career</b></label> <br>
      <input type='text' name='name' placeholder='Career name' required>
      <input class='button' type='submit' value='Load'>
    </form>

    <ul class='careers'> 
      <% items = @careers.map { |career| %> 
        <li> 
          <div>
            <a href=/careers/<%=career.id%>>
            <%=career.name%>
            </a>
          </div> 
        </li> <br>
        <% } %>
        <% items.join %>
    </ul>
  </body>
</html>