<!DOCTYPE html>

<html>
    <head>
        <title> Vocational Test </title>
        <link rel="stylesheet" type="text/css" href='/landing_page.css'/>
    </head>
    <body>
        <nav class='mainNav'>
            <div height='100px'>
                <a href='/'>
                    <img id='logo' src='/Flying_Hellfish_Logo.png'/>
                </a>
                <h1 id='mainTitle'>
                    Welcome to Vocational Test by FlyingHellfish!
                </h1>
                <div class='topNav'>
                    <a href='/'>Home</a>
                    <a href='/careers'>Careers</a>
                    <a href='/surveys'>Surveys</a>
                </div>
            </div>
        </nav>
        <a> gracias por participar, vuelva prontos </a>
    </body>
</html>
