<!DOCTYPE html>

<html>
    <head>
        <title> Vocational Test </title>
        <link rel="stylesheet" type="text/css" href='/stylesheet.css'/>
    </head>
    <body>
        <nav class='mainNav'>
            <div height='100px'>
                <a href='/'>
                    <img id='logo' src='/Flying_Hellfish_Logo.png'/>
                </a>
                <h1 id='mainTitle'>
                    Welcome to Vocational Test by FlyingHellfish!
                </h1>
                <div class='topNav'>
                    <a href='/'>Home</a>
                    <a href='/careers'>Careers</a>
                    <a href='/surveys'>Surveys</a>
                </div>
            </div>
        </nav>
       <br>
       <br>
        <form action='/surveys' method='POST'>
            <label class='label' for="username"><b>Insert Username</b></label> <br>
            <input type='text' name='username' placeholder='Insert Username' required>
            <input class='button' type='submit' value='Register'>
        </form>
    </body>
</html>
