/* Every page standard background */
body { 
  background-image: url("/background-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}


/* Main logo style */
#logo{
  position: relative;
  padding: 3px;
  height: 172px;
  width: 130px;
}


/* Main title showed in banner */
#mainTitle{
  display: inline-block;
  position: relative;
  font-family: Quicksand;
  color: #DFF2EF;
  top: -50px;
  left: 10px;
  border-bottom: 2px solid #333;
  border-right: 2px solid #333;
  padding-right: 8px;
  margin: 0px;
  font-size: 30px;
}

.boxShadow {
  box-shadow: 5px 5px #1f1f1f;
}

.inColumns {
  column-count: 3;
  column-gap: 5px;
}

.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Banner */
.mainNav {
  background-color: #FF7759;
  border: 2px solid #DFF2EF; 
}


/*Small navigation bar*/
.topNav {
  overflow: hidden;
  background-color: #F2636F;   
  border-top: 2px solid #DFF2EF; 
}

.topNav a {
  color: #DFF2EF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 0.3s;
  border-right: 3px solid #DFF2EF;
}

.topNav a:hover {
  background-color: #DFF2EF;
  color: #F2363F;
  border: 1px solid #DFF2EF;
}


/*Label Style*/
.label {
  font-size: 25px;
  color: #DFF2EF;
}

/*Center Form*/
div.form {
  display: block;
  text-align: center;
}

.form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/*Input Styles*/
input[type='text']{
  padding: 12px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #DFF2EF;
  background: #03A69693;
  color: #DFF2EF;
}

input[type='text']:focus{
  background: #03A69656;
  outline: none;
}

::placeholder{
  color: #DFF2EF;
  opacity: 0.5;
}


/*Button style*/
.button {
  background-color: #03A696;
  border: none;
  border-radius: 8px;
  color: #DFF2EF;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.3s;
}

.button:hover{
  background-color: #DFF2EF;
  color: #03A696;
  cursor: pointer;
}


/*Questions Styles*/
.quesTitle{
  padding: 10px;
  width: 35%;
  background-color: #FF7759a6;
  font-size: 25px;
  color:rgb(255, 255, 255);
  border-radius: 15px;
  overflow-wrap: break-word;
}

.qDesc{
  font-size: 20px;
  color:rgb(255, 255, 255);
}


/*Options Style*/
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #DFF2EF;
}
/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 6px;
  left: 8px;
  height: 14px;
  width: 14px;
  background-color: #eee;
  border-radius: 50%;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #03A696;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 3px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #DFF2EF;
}


/* Resume style */
.resume dt {
  background-color: #FF7759a6;
  border-left-style: solid;
  border-left-color: #F2636F;
  border-left-width: 15px;
  font-size: 20px;
  color: #DFF2EF;
  padding: 1px;
  margin-left: 20px;
}

.resume dt:hover{
  background-color: #F2636F;
  transition-duration: 0.3s;
}

.resume dl {
  width: 75%;
  text-decoration: none;
  margin-left: 170px;
}

.resume dd {
  background-color: #FF775985;
  border-left-style: solid;
  border-left-color: #F2636F;
  border-left-width: 15px;
  color: #DFF2EF;
  font-size: 19;
  padding: 1px;
  padding-left: 20px;
  margin-left: 20px;
}

.resume a {
  margin-left: 5px;
  color: #eeeeee;
}


/* Survey list style */
.surveys ul {
  background-color: #FF7759a6;
  width: 800px;
  border-left-style: solid;
  border-left-color: #F2636F;
  border-left-width: 15px;
  color: #DFF2EF;
  padding: 0px;
}

.surveys a {
  font-size: 26px;
  color: #DFF2EF;
}

.surveys li {
  transition-duration: 0.3s;
  overflow-wrap: break-word;
  padding-left: 20px;
  list-style-position: inside;
}


/* Careers list style */
.careers ul {
  background-color: #FF7759a6;
  width: 600px;
  border-left-style: solid;
  border-left-color: #F2636F;
  border-left-width: 15px;
  color: #DFF2EF;
  padding: 0px;
}

.careers a {
  font-size: 17px;
  color: #DFF2EF;
}

.careers li {
  transition-duration: 0.3s;
  overflow-wrap: break-word;
  padding-left: 20px;
  list-style-position: inside;
}

.careers li:hover {
  background-color: #F2636F;
  overflow: hidden;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 20px;
}


/* Careers page style */
.careerPage {
  padding: auto;
  margin: auto;
  text-align: centre;
}

.careerPage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #F2636F;
  padding: 10px;
  background-color: #FF7759;
  border-radius: 10px;
  width: 50%;
}

.careerPage h2 {
  color: #DFF2EF;
  text-align: center;
}


/* Finish Page Style */
.finishText {
  background-color: #FF7759a6;
  border: 3px solid #F2636F;
  border-radius: 5px;
  text-align: center;
  color: #DFF2EF;
  padding: auto;
  margin: auto;
  width: 25%;
}

.finishText a {
  color: #DFF2EF;
  transition-duration: 0.3s;
}

.finishText a:hover {
  background-color: #F2636F;
}

.finishText p {
  color: #DFF2EF;
}


/* No Question page style */
.nq {
  background-color: #FF7759a6;
  border: 3px solid #F2636F;
  border-radius: 5px;
  text-align: center;
  color: #DFF2EF;
  padding: auto;
  margin: auto;
}

.nq p {
  color: #DFF2EF;
  text-align: center;
}

.nq img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}


/*Nothing page style*/
.nothing h1 {
  color: #DFF2EF;
}

.nothing img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #F2636F;
  padding: 10px;
  background-color: #FF775993;
  border-radius: 10px;
  width: 50%;
}



/* Popup message */
.popup {
  background-color: #FF7759a6;
  width: 180px;
  text-align: center;
  color: #DFF2EF;
  border-radius: 10px;
  font-size: 14px;
  padding: 8px;
  transition-duration: 1s;
  box-shadow: 3px 3px #1f1f1f;
}

/* Popup arrow */
.arrow {
  display: block;
  width: 0; 
  height: 0; 
  transition-duration: 1s;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  
  border-bottom: 15px solid #FF7759a6;
  margin-left: 75px;
}